.selectionContext {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
}

.selectionContext ul {
  display: flex;
  flex-direction: column;
  padding: 0px;
  list-style: none;
  gap: var(--space-md);
  width: 100%;
}

.selectionItem {
  display: flex;
  flex-direction: row;
  padding: 10px;
  text-align: center;
  align-items: center;
  background-color: #b4b4b4;
  border: 1px solid black;
  gap: var(--space-md);
  width: 100%;
}

.selectionItem img {
  width: 128px;
}

@media only screen and (max-width: 768px) {
  .selectionContext ul img {
    width: 64px;
  }
}

@media only screen and (min-width: 769px) {
  .selectionContext {
    display: flex;
    padding: 10px;
    gap: var(--space-lg);
    flex-direction: row;
  }

  .selectionContext ul {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  .selectionItem p {
    display: inline;
    width: 100%;
  }

  .selectionContext .keyContentFrame {
    width: 70%;
  }

  .selectionContext .keyContentFram {
    flex-shrink: 10;
  }
}
