footer {
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;
  padding: var(--space-md) var(--space-lg);
  align-items: center;
  color: white;
  margin: 50px 0 0 0;
  background: #3f3f3f;
  text-align: center;
}

footer ul {
  list-style-type: none;
  flex-direction: column;
  gap: var(--space-md);
  padding: 0;
  display: flex;
  width: 400px;
  justify-content: space-between;
  align-items: center;
}

footer li {
  display: inline-block;
  padding: 0 10px;
}

footer form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 200px;
}

footer input {
  display: block;
}

footer textarea {
  height: 300px;
}

footer h2 {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  footer {
    justify-content: space-between;
    text-align: left;
  }

  footer ul {
    width: auto;
    flex-direction: row;
  }

  footer form {
    width: 800px;
  }
}

@media only screen and (min-width: 1280px) {

  footer form {
    width: 50%;
  }

  footer textarea {
    height: 150px;
  }
}