.keyContentFrame {
  display: flex;
  gap: var(--space-md);
}

.keyContentFrame img {
  max-width: 50dvw;
  border: 1px solid black;
}

.key-horizontal {
  flex-direction: row;
}

.key-vertical {
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .keyContentFrame {
    align-items: center;
  }

  .key-horizontal {
    flex-direction: column;
  }
}

@media only screen and (min-width: 769px) {
  .keyContentFrame img {
    max-width: 25dvw;
  }

  .key-vertical {
    flex-direction: row;
  }
}