.keyContentFrame {
  display: flex;
  gap: var(--space-md);
}

.keyContentFrame img {
  width: 256px;
  height: auto;
  border: 1px solid black;
}

.key-horizontal {
  flex-direction: row;
}

.key-vertical {
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .keyContentFrame {
    align-items: center;
  }

  .key-horizontal {
    flex-direction: column;
  }
}
