#home-content {
  display: "flex";
  padding: "0 40px";
  flexdirection: "column";
  alignitems: "flex-start";
  flexshrink: 0;
}

.selection-context {
  display: flex;
  padding: 10px;
  align-items: center;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.selection-context ul {
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
  width: 30%;
  margin: 0;
}

.selection-context li {
  display: flex;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}

.selection-context li img {
  width: 128px;
  height: 128px;
  flex-shrink: 0;
}

.selection-context li p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  width: auto;
  height: auto;
  margin: 0;
}
