.screenContainers {
  display: flex;
  flex-direction: column;
  background-color: #9f9f9f;
  width: 100%;
  gap: var(--space-md);
    background: url("assets/gizmo_icon.svg") repeat 5% / 5%;
}

.screenContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-lv3);
  padding: var(--space-md);
  border: 5px solid black;
  box-shadow: 0 0 10px white;
}

.screenContent h1 {
  align-items: center;
}

.full {
  width: 100%;
  height: 100vh;
  padding: 0;
  justify-content: flex-end;
  align-items: flex-start;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .full {
    height: 85dvh;
  }

  .screenContainers {
    padding-top: var(--space-lg);
    align-items: center;
  }

  .screenContent {
    width: 80%;
  }
}
